$switcher-scene-bg: $inactive-color;
$switcher-active-scene-bg: $active-color;

.switcher {
	display: flex;
	flex: 1 1 70%;
	flex-wrap: wrap;
	min-height: 70%;
	overflow-y: auto;

	@include medium {
		flex: 1 1 75%;
	}

	.scene {
		border: 1px solid rgba(black, 0.04);
		background-color: $switcher-scene-bg;
		color: #000000;
		font-size: 1.5rem;
		letter-spacing: 2px;
		font-weight: 400;
		font-family: Oswald;
		text-transform: uppercase;
		min-height: 4rem;
		outline: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;

		@include large {
			font-size: 2rem;
		}

		transition: background-color 0.2s;

		&:hover, &:focus {
			background-color: darken($switcher-scene-bg, 2%);
		}
		&.active {
			background-color: $switcher-active-scene-bg;
		}
	}

	.scene-text {
		color: rgba(black, 0.5);
	}

	.scene-time {
		color: rgba(black, 0.3);
		font-size: 0.9rem;
		padding-top: 1%;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	@for $i from 1 through 10 {
		&.per-row-#{$i} .scene {
			flex-basis: 100% / $i;
		}
	}
}
